/* FUENTE UTILIZADA */
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');


body{
  font-family: 'Convergence', sans-serif;
  background-color: var(--color-5);
  margin: 0;

}
/* VARIBLES DE COLOR */
:root {
  --color-primario: #2d333b;
  --color-p2: #3a4149;
  --color-2: #A74165;
  --color-3: #00777A;
  --color-4: #8E557B;
  --color-5: #181e25;
  --color-6: #D6F4FF;
}

/* VARIABLES */
:root {
  --max-width-app : 100%;
}

.App{
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

/* CLASE PARA CENTRAR HORIZONTAL Y VERTICALMENTE LOS OBJETOS DENTRO DE UN DIV */
.container{
  width: 200px;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}









